<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
</head>

<body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" role="navigation">
      
        <a class="navbar-brand" href="#">Project-RS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="https://webmail.in.capgemini.com" target="_blank">Contact Us</a>
            </li>
            </ul>
        
        <form class="form-inline my-2 my-lg-0">
            <a [routerLink] = "['/loginpage']"><button class="btn navbar-button my-2 my-sm-0">Sign in</button></a>
            <a [routerLink] = "['/regpage']"><button class="btn navbar-button my-2 my-sm-0">Sign up</button></a>
          </form>
        </div>
          
      </nav>
        <!-- Navigation Bar -->

      <router-outlet></router-outlet>

      
    <!-- <nav class="navbar navbar-dark bg-dark fixed-top" role="navigation"> -->
        
        
  <!-- <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a data-toggle="modal" data-target="#exampleModalLong" class="nav-link active" href="#">Add <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Grocery manager</h3>
    </div> -->
    <!-- <grocery-list></grocery-list>
    <grocery-add></grocery-add> -->
  <!-- </div> -->
  <!-- /container -->
</body>

</html>