body{
    padding:50px 0px 0px 0px;
    z-index:0;
    /* height: 100% */
}

nav.navbar,
#navbar {
     background: #876c94;
}

.navbar-brand
{
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
}

#navbar ul a,
#navbar ul a .active
{
    background: #876c94;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

/* ul.navbar-nav ul li{
    color: #fff;
    background:  #876c94;
    padding: 10px;
} */

.navbar-light .navbar-collapse ul li{
    padding: 5px;
}


.btn{
    background-color: #fffff3 ;
    color: #876c94;
    margin-left: 10px;
    box-shadow: none;
}

/* @media screen and (min-width: 575px){
    #navbar ul a {
    padding: 2px;
    }
} */

.btn:hover{
    background-color: #876c94;
    color: #fffff3 ;
    border-color: #000;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #876c94;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

/* .btn:hover{
    background-color: #ccc;
} */

/* .navbar-toggler-icon{
    background-color: #fff;
} */

/* 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #49639a;
} */

